{% extends "layout.html" %}
  
{% block title %}Project Description{% endblock %}
{% block lead %}Describe how and why you chose your iGEM project.{% endblock %}

{% block page_content %}
<head>
  <link href="{{ url_for('static', filename = 'a2.css') }}" rel="stylesheet">
</head>
<div class="row mt-4">
  <div class="safety-hd">
    <img src="static/description/description.jpg" alt="">
  </div>
  <div class="description-bd">
    <img src="static/description/1.png" width="100px" height="100px" alt="" >
    <h2>Background and inspiration</h2>
  </div>
  <div class="safety-bd">
    <img src="static/description/2.png" width="55px" height="48px" alt="">
    <p>Acute myocardial infarction is a common disease in Europe and the United States. In China, the number of people suffering from the disease has increased significantly in recent years, with at least 500,000 new cases and at least 2 million existing patients each year. Despite the high prevalence, commercially available tests are expensive and time-consuming. Worldwide, coronary heart disease causes about 170,000 deaths per year. China has shown a significant increase in mortality in recent years [1]. Acute myocardial infarction (AMI) has many negative effects on humans, along with complications, leading to arrhythmias, heart rupture, heart failure, etc., and death if the symptoms are severe; to date, there are many deaths due to acute myocardial infarction disease, with a lethality rate of about 20%. The early stages of the disease, if left untreated, pose a serious threat to the health and life of the patient.</p>
  </div>

  </div>
</div>





{% endblock %}
