{% extends "layout.html" %}
  
{% block title %}Safety{% endblock %}
{% block lead %}Describe all the safety issues of your project.{% endblock %}

{% block page_content %}
<head>
  <link href="{{ url_for('static', filename = 'a2.css') }}" rel="stylesheet">
</head>
<div class="row mt-4">
  <div class="safety-hd">
    <img src="https://static.igem.wiki/teams/4667/wiki/page-heading/038a3ce4b2a9dd791158355625fb565.png" alt="">
  </div>
</div>

<div class="row mt-4 laboratory overview">
  <div class="laboratrory-hd">
    <img src="https://static.igem.wiki/teams/4667/wiki/safety/laboratory.png" class="safety-hd-img" width="50px" height="50px" alt="">
    <h2 class="safety-hd-h4">laboratory</h2>
  </div>
  <p class="laboratory-bd">&nbsp;&nbsp;&nbsp;&nbsp;BPI-CHINA always prioritizes the safety of experiments. On this page, we will demonstrate how we continuously implemented various measures to ensure the safety and security of all related parts, from experiments to future application.
    Just like our predecessors, before starting our wet lab work, all members of BPI-CHINA wet team members have received laboratory safety training from our experimental director. Our project were carried out mainly in the laboratory classified as biosafety level 1. The equipment used in the laboratory, work space, reagent management are all in accordance with the relevant rules of iGEM safety.
  </p>
  <ul class="laboratory-img">
    <li>
      <img src="https://static.igem.wiki/teams/4667/wiki/safety/laboratory-1.jpg" alt="">
    </li>
    <li>
      <img src="https://static.igem.wiki/teams/4667/wiki/safety/laboratory-2.jpg" alt="">
    </li>
    <li>
      <img src="https://static.igem.wiki/teams/4667/wiki/safety/laboratory-3.jpg" alt="">
    </li>
    <li>
      <img src="https://static.igem.wiki/teams/4667/wiki/safety/laboratory-4.jpg" alt="">
    </li>
    <li>
      <img src="https://static.igem.wiki/teams/4667/wiki/safety/laboratory-5.jpg" alt="">

    </li>
  </ul>
  <p class="laboratory-bd-p">The picture shows the safety items found in our biotechnology laboratory.</p>
</div>
<div class="row mt-4 teamsafety overview">
  <div class="teamsafety-hd">
    <img src="https://static.igem.wiki/teams/4667/wiki/safety/team.png" width="50px" height="50px" alt="">
    <h2>Team Safety</h2>
  </div>
  <ul>
    <li>  Always know the correct procedure for the disposal of lab materials.</li>
    <li>  Fully consider the experimental process, and make full preparations.</li>
    <li>  Safe and reasonable use of water and electricity, close as needed.</li>
    <li>  Keep the lab tidy and hygienic.</li>
    <li>  Tie back loose or long hair.</li>
    <li>  Wear long-sleeved lab coats in and out of the lab.</li>
    <li>  Always use gloves and splash-proof goggles.</li>
    <li>  All contaminated waste must be disinfected before treatment.</li>
    <li>  Do not carry all items in the laboratory outside.</li>
    <li>  Do not eat or drink when in the lab area.</li>
    <li>  Wash hands coming in and out of the laboratory.</li>
    <li>  Take photos and supervise every time the laboratory is cleaned.</li>
  </ul>
  <img src="https://static.igem.wiki/teams/4667/wiki/safety/team2.jpg" alt="">
</div>
<div class="row mt-4 overview">
  <div class="safety-col">
    <h2 class="sf-h2">Project Safety</h2>
    <div>
      <img src="https://static.igem.wiki/teams/4667/wiki/safety/1.png" class="safety-hd-img" width="50px" height="50px" alt="">
      <h2 class="safety-hd-h4">overview</h2>
    </div>
    <p class="safety-bd">&nbsp;&nbsp;&nbsp;&nbsp;Our project has developed test strips that are easy to prevent, detect myocardial infarction diseases. Specifically, our project modifies gene fragments with different hairpin structures on colloidal gold, targets different miRNAs, binds to miRNAs and initiates HCR thermostatic amplification reactions.Meanwhile, the reverse cleavage function of CRISPR technology was used to release the fluorescence signal and complete the miRNA detection. This project will combine colloidal gold technology, HCR thermostatic amplification technology and CRISPR reverse cleavage to establish a specific method for detecting miRNAs, and predict whether patients have myocardial infarction according to the test results. </p>
  <div class="safety-hardware">
    <img src="https://static.igem.wiki/teams/4667/wiki/safety/hardware.png" width="50px" height="50px" alt="">
    <h2>hardware</h2>
  </div>
  </div>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;Regularly inspect, repair, and replace air conditioning, professional equipment, and other equipment. Every time we use an instrument, we are registered and trained by professionals.</p>
</div>
<div class="row mt-4 human overview">
  <div>
    <img src="https://static.igem.wiki/teams/4667/wiki/safety/hardware.png" width="50px" height="50px" alt="">
    <h2>Human Practice and Education</h2>
  </div>
  <p>All survey participants have sought their consent and received positive recognition and support.</p>
</div>
{% endblock %}
